<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    <form action="" method="POST">
         <label for="input">Enter your text</label>
       <input type="text" name="input" id="input">
         <label for="font">Select a font</label>
         <select name="select">
            <option value="font1">{{.Font1}}</option>
            <option value="font2">{{.Font2}}</option>
            <option value="font2">{{.Font3}}</option>
         </select>
       <input type="submit" value="Submit">
    </form>
    <div class="contaner">
            <div class="content">{{.Output}}</div>
    </div>

</body>
</html>